<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<router-outlet></router-outlet>

<table>
  <thead>
    <th>
      M: <input type="number" min="0" [(ngModel)]="m">
    </th>
    <th>
        N: <input type="number" min="0" [(ngModel)]="n">
      </th>
    <th>
      <button [disabled]="disabledBtn" (click)="run()">Run</button>
    </th>

    <th>
        <button [disabled]="disabledBtn" (click)="clear()">Clear</button>
      </th>
  </thead>
</table>

<br>



<table width="100%">
  <tbody>
    <tr *ngFor="let row of multi; let i = index ">
      <td [ngStyle]="{'background-color': !col ? 'green' : 'red', 'text-align': 'center'}" *ngFor="let col of row; let j = index">{{ i + ',' + j }}</td>
    </tr>
  </tbody>
</table>

<p>
  {{msg}}
</p>




